<% @proposals.each do |proposal| %>
  <div id="left">
    <img id="image" src=<%= proposal.imageURL %> />
    <div id="subject" class="tag"><%= proposal.subject['name'] %></div>  <div id="resource" class="tag"><%= proposal.resource['name'] %></div>
    <div id="title"><%= proposal.title %></div>
    <div id="description">
      <%= proposal.shortDescription %>
    </div>
  </div>
  <div id="right">
  	<div id="donate" class="box">
  		<div id="bar">
  		<div id="funded-bar">[============----]</div>
  		<div id="funded">65%</div>

  		</div>
  		<div id="project-cost" class="price"><%= number_to_currency proposal.totalPrice %><span class="note">is needed</span></div>
  		<div id="project-balance" class="price"><span class="note">remaining:</span><%= number_to_currency proposal.costToComplete %></div>
  		<div id="price-options" class="clear">
  			<ul><li>
  			<a href="www">Give $10</a>
  			</li><li>
  			<a href="www">Give $25</a>
  			</li><li>
  			<a href="www">Give $50</a>
  			</li></ul>
  		</div>
  		<div id="buy-out" class="shadow">Help it Fly</div>
  		<div class="clear"></div>

  	</div>
  	<div id="demo" class="box clear">
  		<div id="quote">90% can't afford lunch</div>
  		<div id="map">map</div>
  	</div>
  	<div id="simplegeo" class="box clear">
  		<div id="income">$23,000</div>
  		<div id="hood">Inglewood,  Bronx</div>
  		<%= proposal.schoolName %>
  	</div>

  </div>
<% end %>
