<!DOCTYPE html>
<html>
<head>
  <title>Donorsfly</title>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'application' %>  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper">
  	<div id="header">
  	<div id="next">Next</div>
  		<div id="sitetitle">DonorsFly</div>
  		<div id="subtitle">Help this project take flight</div>
  	</div>
  	
    <%= yield %>
  </div>



</body>
</html>
